.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1a1a1a97;
  height: 5rem;
  color: #d3d3d3;
  font-size: larger;
}

.about-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  /* height: 30rem; */
  padding-right: 30px;
  padding-top: 30px;
}
