@import url("navbar.css");
@import url("banner.css");
@import url("burger.css");
@import url("home.css");
@import url("footer.css");
@import url("carousel.css");

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  letter-spacing: 1px;
}
