/* .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: fit-content;
  position: absolute;
  list-style: none;
  text-align: start;
  right: 22rem;
  top: 3rem; */
/* bottom: 2rem; */
/* background-color: black;
  float: left;
  overflow: hidden;
  z-index: 1;
} */

/* .submenu li {
  cursor: pointer;
} */

.submenu-item {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #d3d3d3;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: black;
  z-index: 1;
}

.submenu-item:hover {
  color: gray;
}

/* .submenu-inactive {
  display: none;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  min-width: 60px;
  top: 50px;
  left: 15px;
  background-color: black;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 40px;
  /* margin-bottom: 30px; */
  color: #d3d3d3;
  text-decoration: none;
  font-weight: 500;
}

.dropdown-btn:hover {
  color: gray;
}

.dropdown-btn.active {
  color: blueviolet;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 500ms ease-in;
}
